@model WebshopClient.Model.CheckoutViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Bestil</h1>
</div>
@using (Html.BeginForm("CheckOut", "ShoppingCart", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h3>Allerede kunde?</h3>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Indtast e-mail">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Adgangskode</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Adgangskode">
                        </div>
                        <button type="submit" class="btn btn-primary">Log ind</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h3>Opret dig som kunde</h3>
                    <div class="row">
                        <div class="editor-label col-md-12 mb-3">
                            <label>Navn</label>
                        </div>
                        <div class="editor-field col-md-12 mb-3">
                            @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="editor-label col-md-12 mb-3">
                            <label>Adresse</label>
                        </div>
                        <div class="editor-field col-md-12 mb-3">
                            @Html.EditorFor(model => model.Customer.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="editor-label col-md-12 mb-3">
                            <label>Postnummer</label>
                        </div>
                        <div class="editor-field col-md-12 mb-3">
                            @Html.EditorFor(model => model.Customer.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer.ZipCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="editor-label col-md-12 mb-3">
                            <label>Telefon</label>
                        </div>
                        <div class="editor-field col-md-12 mb-3">
                            @Html.EditorFor(model => model.Customer.PhoneNo, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.Customer.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 mb-3">
                            <hr />
                            <h4>Betaling</h4>
                            <div class="d-block my-3">
                                @{
                                    int id = 1;
                                    foreach (var item in Model.PaymentMethods)
                                    {
                                        <div>
                                            @item.PaymentMethodValue
                                            @Html.RadioButtonFor(model => model.Order.PaymentMethod, id, false)
                                        </div>
                                        id++;
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <hr />
                            <button class="btn btn-primary btn-md btn-block" type="submit">Fortsæt</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Din indkøbskurv</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    @if (Model != null)
                    {
                        foreach (var item in Model.ShoppingCart)
                        {
                            <div>
                                <h4 class="my-0">@Html.DisplayFor(modelItem => item.Product.Name)</h4>
                                <small class="text-muted">@Html.DisplayFor(modelItem => item.Product.Description)</small>
                            </div>
                            <span class="text-muted">@Html.DisplayFor(modelItem => item.SubTotal),-</span>
                            <hr />
                        }
                    }
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (DKK):</span>
                    @{
                        decimal total = 0;
                        foreach (var item in Model.ShoppingCart)
                        {
                            total = total + item.SubTotal;
                        }
                        //Math.Round(total, 2);
                        <strong>@Math.Round(total, 2),-</strong>

                    }
                </li>
            </ul>

            @using (Html.BeginForm("AddDiscountCode", "ShoppingCart", FormMethod.Post))
            {
                <form class="card p-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Discount.DiscountCode, new { htmlAttributes = new { @class = "form-control" } })
                        @*<input type="text" class="form-control" placeholder="Rabatkode">*@
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary" id="discountCodeBtn">Tilføj</button>
                        </div>
                    </div>
                </form>
                @Html.ValidationMessage("DiscountCodeError")
            }
        </div>
    </div>
}


