
@model IEnumerable<WebshopClient.Model.ProductLine>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indkøbskurv</h2>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.ActionLink("Slet", "Delete", new { id = item.Product.ProductId })
                </td>
            </tr>
        }

    </table>

    <button type="button" class="btn btn-lg pull-right btn-success" onclick="location.href='@Url.Action("CheckOut", "ShoppingCart", new { model = Model })'">Gå til betaling!</button>
    <button type="button" id="buyMore" class="btn btn-lg pull-right btn-secondary" onclick="location.href='@Url.Action("Index", "Home")'">Køb mere</button>

    <button type="button" class="btn btn-md btn-warning" onclick="location.href='@Url.Action("EmptyShoppingCart", "ShoppingCart")'">Tøm indkøbskurv</button>


}
else
{
    <small>Indkøbskurv er tom!</small>
}