@*@model IEnumerable<WebshopClient.Model.ProductLine>*@

@model WebshopClient.Model.CheckoutViewModel

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indkøbskurv</h2>

@if (Model != null && Model.ShoppingCart != null)
{
    <table class="table">
        <tr>
            <th>
                <p>Description</p>
            </th>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>SubTotal</p>
            </th>
            <th>
                <p>Amount</p>
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model.ShoppingCart)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)

                    @Html.ActionLink("Fjern", "DecreaseAmount", new { id = item.Product.ProductId }) / @Html.ActionLink("Tilføj", "IncreaseAmount", new { id = item.Product.ProductId })

                </td>
                <td>
                    @Html.ActionLink("Slet", "Delete", new { id = item.Product.ProductId })
                </td>
            </tr>
        }


    </table>

    if (Session["LoggedIn"] != null)
    {
        <button type="button" class="btn btn-lg pull-right btn-success" onclick="location.href='@Url.Action("CheckOut", "ShoppingCart", Model)'">Gå til betaling!</button>
    }
    else
    {
        <button type="button" class="btn btn-lg pull-right btn-success" onclick="location.href='@Url.Action("ExistingCustomerLogin", "Login", Model)'">Gå til betaling!</button>
    }

    <button type="button" id="buyMore" class="btn btn-lg pull-right btn-secondary" onclick="location.href='@Url.Action("Index", "Home")'">Køb mere</button>

    <button type="button" class="btn btn-md btn-warning" onclick="location.href='@Url.Action("EmptyShoppingCart", "ShoppingCart")'">Tøm indkøbskurv</button>


}
else
{
    <small>Indkøbskurv er tom!</small>
}