@model WebshopClient.Model.Customer
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ExistingCustomerLogin", "Login", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">
            <h3>Kunde login</h3>
            <h6>Indtast E-mail og adgangskode</h6>
            <form>
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Indtast e-mail" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Adgangskode</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Indtast password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <button type="submit" class="btn btn-primary">Log ind</button>
                <button type="button" class="btn" onclick="location.href='@Url.Action("NewCustomer", "Login")'">Ny kunde</button>

            </form>
        </div>
    </div>
}

